@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body{
}

nav{
    background-color: rgb(255, 255, 255);
    z-index: 2;
    top: 0px;
    border-bottom: 1px solid black;
}

.search-form form{
    display: flex;
    align-items: end;
    margin-right: 40px;
}

.search-form form input{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    color: black !important;
    outline: none;
    padding-left: 10px;
}

.search-btn{
    border-bottom: 1px solid black;
    border-left: 1px solid rgb(202, 202, 202);
    border-radius: 0px;
    padding-bottom: 10px;
}

.carousel{
    position: relative;
    bottom: 10vh;
}

.nav-link{
    margin-right: 60px;
    font-size: 17px;
}

.dropdown-item{
    margin-bottom: 10px;
    color: rgb(69, 62, 27);
}

.navbar-brand{
    margin-left: 50px !important;
    font-size: 30px;
    color: goldenrod !important;
}

.nav-link:hover{
    color: goldenrod !important;
}

.carousel-item{
    height: 110vh;
}

.carousel-item img{
    filter: brightness(90%);
    width: 100%;
    height: auto; 
}

.carousel-content{
    position: relative;
    bottom: 80vh;
}

.carousel-content-second{
    position: relative;
    bottom: 70vh;
}

.designs{
    position: relative;
    top: -40px;
}

.designs-row .card-body{
    cursor: pointer;
    height: 600px;
    overflow: hidden;
    background-color: rgba(218, 218, 218, 0) !important;
}

.designs-row .card-body img{
    width: 100%;
}

.ready-row .card-body{
    height: 450px;
    text-align: center;
}

.ready-row .card-body img{
    height: 70%;
    margin-top: 20px;
    mix-blend-mode:multiply;
}

.product-details{
    width: 85%;
}

.product-details i{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.product-details i:hover{
    background-color: rgb(238, 238, 238);
}

.style-card{
    min-width: 350px;
    max-width: 360px;
    margin-right: 10px;
}

.ready-row{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

input{
    height: 50px;
}

.offcanvas{
    width: 600px;
}

.order-quantity button{
    font-size: 18px;
    border: 1px solid rgb(152, 152, 152);
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
}

.remove-btn{
    font-size: 20px;
    padding-right: 0px;
    padding-top: 0px;
}

.cart-row{
}

.order-quantity input{
    width: 100px;
    text-align: center;
    height: 40px;
    padding: 0px;
}

@media only screen and (min-width: 600px){
    .search-icon{
        display: none;
    }
}

@media only screen and (max-width: 600px){

    .navbar-brand{
        margin-right: 40px;
    }
    .search-form{
        display: none;
    }
    .search-icon{
        display: block;
    }
    .carousel{
        height: 100vh;
        overflow: hidden;
        top: 78px;
    }
    .carousel-item img{
        width: auto;
        height: 60vh;
        filter: brightness(80%);
    }
    .carousel-content{
        position: relative;
        bottom: 30vh;
    }
    .designs{
        position: relative;
        top: -180px;
    }
    .designs-row .card{
        margin-bottom: -50px !important;
    }
    .ready-products{
        position: relative;
        top: -160px;
        margin-bottom: 40px;
    }
    .style-card{
        min-width: 280px;
        max-width: 300px;
        margin-right: 10px;
    }

    footer{
        position: relative;
        top: -180px;
    }
}

@media only screen and (max-width: 400px) and (min-width: 390px){
    .designs-row .card{
        margin-bottom: -8vh !important;
    }
}

@media only screen and (max-width: 389px) and (min-width: 370){
    .designs-row .card{
        margin-bottom: -16vh !important;
    }
}

@media only screen and (max-width: 370px){
    .designs-row .card{
        margin-bottom: -16vh !important;
    }
}